@import url("https://rsms.me/inter/inter.css");

:root {
  /* Typography */
  --sans: "Inter", sans-serif;
  --serif: "";
  --mono: "";
  --heading-line-height: 1.3;
  --paragraph-line-height: 1.7;
  --heading-letter-spacing: 0.02rem;
  --paragraph-letter-spacing: 0.02rem;
  /* Vertical Rhythm */
  --responsive-unit: 0.5vw; /* TWEAK ME  */
  /* Base Values */
  --text-base-size: calc(1rem + var(--responsive-unit));
  --text-scale-ratio: 1.22; /* TWEAK ME */
  /* Type Scale */
  --text-xs: calc(
    1rem / (var(--text-scale-ratio) * var(--text-scale-ratio)) +
      var(--responsive-unit)
  );
  --text-sm: calc(1rem / var(--text-scale-ratio) + var(--responsive-unit));
  --text-md: calc(1rem * var(--text-scale-ratio) + var(--responsive-unit));
  --text-lg: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) +
      var(--responsive-unit)
  );
  --text-xl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) + var(--responsive-unit)
  );
  --text-xxl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) + var(--responsive-unit)
  );
  --text-xxxl: calc(
    1rem * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) + var(--responsive-unit)
  );
  /* Spacing */
  --baseline: calc(1.2rem + var(--responsive-unit));
  /* --component-padding: var(--space-sm); */
  /* Spacing Values */
  --space-sm: calc(var(--baseline) / 2);
  --space-md: var(--baseline);
  --space-lg: calc(var(--baseline) * 2);
  --space-xl: calc(var(--baseline) * 5);

  /* Colors */
  --text-color: black;
  --text-color-lighter: #140f0f;
  --href-color: #7fdbca;
  --href-hover-color: #ff5874;
  --bg-1: #fafafa;
  --bg-2: white;
  --grey: #666666;
  --primary-btn-bg: black;
  --outline-btn-bg: var(--bg-1);
  --primary-btn-color: white;
  --outline-btn-color: var(--grey);
  --input-border: black;
  --code-bg: #28272c;
  --shadow-color: rgba(0, 0, 0, 0.1);

  /* Components */
  --radius: 5px;
  --thickness: 0.2vw;
  --container: 833px;
  --elevation-1: 0 4px 12px var(--shadow-color);
  --elevation-2: 0px 4px 12px var(--shadow-color);
  --elevation-3: 0px 12px 20px var(--shadow-color);
  --transition: all 0.2s ease 0s;
  --opacity: opacity(0.35);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --grey: lightgrey;
    --href-color: #f78c6c;
    --href-hover-color: #ff5874;
    --bg-1: black;
    --bg-2: #1a1a1b;
    --grey: #888888;
    --shadow-color: black;
    --primary-btn-bg: #1a1a1b;
    --primary-btn-color: var(--text-color);
    --input-border: var(--bg-2);
    --code-bg: var(--bg-2);
  }
}

body {
  margin: 0;
  font-family: var(--sans);
  font-size: var(--text-base-size);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--bg-1);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
  margin: var(--space-xl) 0;
}

h1,
.text--xxl {
  font-size: var(--text-xxl);
  margin: var(--space-lg) 0;
}

h2,
.text--xl {
  font-size: var(--text-xl);
  margin: var(--space-md) 0;
}

h3,
.text--lg {
  font-size: var(--text-lg);
  margin: var(--space-md) 0;
}

h4,
.text--md {
  font-size: var(--text-md);
  margin: var(--space-md) 0;
}

.text--sm,
small {
  font-size: var(--text-sm);
  margin: var(--space-sm) 0;
}

.text--xs {
  font-size: var(--text-xs);
  margin: var(--space-sm) 0;
}

p {
  margin-bottom: var(--space-md);
  line-height: var(--paragraph-line-height);
  letter-spacing: var(--paragraph-letter-spacing);
  font-weight: 500;
}

small {
  font-weight: 500;
}

li {
  margin-bottom: var(--space-sm);
  line-height: var(--paragraph-line-height);
  font-weight: 500;
}

li:last-child {
  margin-bottom: var(--space-lg);
}

li > p {
  margin-bottom: var(--space-sm);
}

li > a {
  word-break: break-all;
}

br {
  margin: var(--space-xl) 0;
}

input,
textarea {
  font-size: var(--text-md);
}

a {
  color: var(--text-color);
  transition: var(--transition);
}

a:hover {
  color: var(--href-hover-color);
  transition: var(--transition);
}

pre {
  font-family: var(--mono);
}

blockquote {
  background: var(--bg-2);
  padding: var(--space-md);
  margin: 0;
  border-left: 0.5rem solid var(--href-color);
  box-shadow: var(--elevation-1);
  border-radius: var(--radius);
  letter-spacing: var(--paragraph-letter-spacing);
  line-height: var(--paragraph-line-height);
}

blockquote > p {
  margin: 0;
  font-style: italic;
}

blockquote > h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

/* COMPONENT CLASSES */

.form {
  display: flex;
  flex-direction: column;
}

.btn {
  cursor: pointer;
  background: var(--bg-1);
  color: var(--text-color);
  padding: var(--space-sm) var(--space-md);
  font-size: var(--text-size);
  font-weight: bolder;
  font-family: var(--sans);
  border: var(--thickness) solid var(--primary-btn-bg);
  border-radius: var(--radius);
  transition: var(--transition);
  font-weight: bolder;
  font-family: var(--sans);
  margin-bottom: var(--space-md);
  box-shadow: var(--elevation-1);
  text-transform: uppercase;
  letter-spacing: var(--heading-letter-spacing);
}

.btn:disabled {
  background: var(--bg-2);
  color: var(--grey);
  opacity: var(--opacity);
  filter: var(--opacity);
}

/*  */
.btn:disabled:hover {
  /* TODO: Add inset box shadow */
}

.btn.btn-primary:disabled {
  background: var(--primary-btn-bg);
  color: var(--grey);
  border: var(--thickness) solid var(--bg-2);
}

.btn.btn-primary:disabled:hover {
  color: var(--href-hover-color);
}

.btn:hover {
  border: var(--thickness) solid var(--href-hover-color);
  color: var(--href-hover-color);
  box-shadow: none;
}

.btn-primary {
  background: var(--primary-btn-bg);
  color: var(--primary-btn-color);
  border: var(--thickness) solid var(--primary-btn-bg);
  box-shadow: var(--elevation-3);
}

.btn-primary:hover {
  color: var(--href-hover-color);
  box-shadow: var(--elevation-1);
}

.input {
  font-family: var(--sans);
  border-radius: var(--radius);
  border: var(--thickness) solid var(--input-border);
  padding: var(--space-sm);
  margin-bottom: var(--space-md);
  background-color: var(--bg-2);
  color: var(--text-color);
  font-size: var(--font-size);
  box-shadow: var(--elevation-1);
  letter-spacing: var(--paragraph-letter-spacing);
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.text-area {
  font-family: var(--sans);
  border-radius: var(--radius);
  border: var(--thickness) solid var(--input-border);
  padding: var(--space-sm);
  margin-bottom: var(--space-md);
  background-color: var(--bg-2);
  color: var(--text-color);
  font-size: var(--font-size);
  resize: vertical;
  box-shadow: var(--elevation-1);
  letter-spacing: var(--paragraph-letter-spacing);
}

.nav-link {
  text-decoration: none;
  font-size: var(--text-md);
  font-weight: 500;
  padding: var(--space-sm);
}
